.best {
  background: url("../img/best-texture.png") no-repeat;
  background-size: cover;
  text-align: center;
  display: flex;
  align-items: center;
  background-position: center center;
  .section__title {
      @include tablets {
      margin-bottom: rem(40px);
    }
  }
}

.best__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  max-width: 940px;
  max-height: 100%;
}

.best__icon-pic {
  height: 100px;
  width: 100px;
  svg {
    max-width: 95%;
  }
  @include phones {
    position: static;
    transform: none;
  }
}

.best__list {
  display: flex;
  @include phones() {
    flex-direction: column;
  }
}

.best__item {
  display: flex;
  flex-direction: column;
    
  @include phones {
    flex-direction: row;
    width: 100%;
    margin-bottom: rem(25px);
    
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.best__icon {
  display: flex;
  justify-content: center;
  @include phones {
    margin-right: rem(20px);
    width: 30%;
  }
}

.best__desc {
  @include phones {
    text-align: left;
    display: block;
    width: 65%;
  }
}

.best__title {
  font-size: rem(24px);
  @include lifehack;
  color: $black;
  margin-bottom: rem(20px);
}



