.burgermenu{
  position: fixed; 
  height: 20px;
  width: 30px;
  cursor:pointer;
  z-index: 15;
  transition:all .4s;
  top: 32px;
  right: 15px;
  visibility: hidden;
  
  &__line{
    width: 100%;
    height: 5px;
    position: absolute;
    background-color: rgb(255, 255, 255);
    top:0;
    left: 0;
    transition:all .4s;
    border-radius: 2px;
    border: $black 0.5px solid;

    
    &:nth-child(2){
      top:50%;
      transform:translateY(-50%);
    }
    
    &:nth-child(3){
      bottom:0;
      top:initial;
    }
  }

  @include tablets {
    visibility: visible; 
  } 

  @include phones{
    visibility: visible; 
  }
}



.overlay{
  height: 100%;
  width: 100%;
  background-color: $black;
  display: flex;
  align-items:center;
  justify-content: center;
  transition:all .4s;
  
  position:fixed;
  top:0;
  left:100%;
  opacity:0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.dropmenu{
  &__item{
    margin-bottom:20px;
    display:flex;
    flex-direction:column;
    align-items:center;
    
    &:after{
      content:'';
      display: inline-block;
      height: 5px;
      width: 5px;
      background-color: #fff;
      border-radius:50%;
      margin-top:10px;
    }
    
    &:last-child{
      margin-bottom:0;
      
      &:after{
        display:none;
      }
    }
  }
  
  &__link{
    text-decoration: none;
    text-transform: uppercase;
    font-size: rem(13px);
    color: white;
    @include ubuntu(medium);

    &:hover{
      opacity:.7;
    }
  }
}

.burgermenu--active{
  .burgermenu__line{
    &:nth-child(1){
      opacity:0;
    }
    
    &:nth-child(2){
      transform:rotate(45deg);
    }
    
    &:nth-child(3){
      transform:rotate(-45deg) translateY(-4px) translateX(3px);
    }
  }
}

.overlay--active{
  left: 0;
  opacity:1;
}

.body--active-menu{
  overflow:hidden;
}