.header {
  display: flex;
  align-items: center;
  margin-top: rem(10px);
  width: 100%;
  max-width: 940px;
}

.header__nav {
  margin-left: auto;
}

.header_btn {
  align-items: center;
  margin-left: 15px;

  @include tablets {
    margin-right: 50px;
    margin-left: 0;
    }
}

.logo {
  width: rem(100px);
  height: rem(75px);
}