.map {
  position: relative;
}

.yandex-map {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
  right: 0;
  background-image: url(../img/yandex.png);
  background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}