.reviews {
  background: black;
  height: 100vh;
  min-height: rem(650px);
}

.reviews__list {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.reviews__item {
  width: 25%;
  height: 50%;
  @include tablets {
    height: 25%;
    width: 50%;
  }
}

.meat {
 width: rem(97px);
 height: rem(90px);
}

.hand {
  width: rem(73px);
  height: rem(86px);
}

.leaf {
  width: rem(88px);
  height: rem(76px);
}

.popup {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(47, 50, 52, 0.9);
  visibility: hidden;
  z-index: 15;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .4s;
  position: fixed;

  &--active{
    visibility:visible;
  }
}

.popup__display{
  background: black;
  width: 500px;
  height: 250px;
  position: fixed;
  top:50%;
  left: 50%;
  z-index: 20;
  transform:translate(-50%,-50%);
  display: flex;
  align-items:center;
  justify-content: center;
  flex-direction:column;

   @include tablets {
    width: 400px;
   }
} 

.popup__close{
    position: absolute;
    right: 10px;
    top:10px;
    color: #fff;
    text-decoration: none;
    @include gagalin();
    font-size: rem(30px);
    padding: 0 5px 0 5px;
}
  
.popup__title, .popup__text{
    color:#fff;
    padding: 0 10px 0 10px;
    text-align: center;
}
  
.popup__title{
  @include gagalin();
  font-size: rem(20px);
    font-size: 20px;
    margin-bottom:20px;
}
  
 
